.row
  .col-md-12.well
    %table.table.table-condensed.table-bordered.table-striped
      %tr
        %th Invoice Num
        %th Invoice Date
        %th Total
      - @invoices.each do |invoice|
        %tr
          %td= link_to invoice.number, invoice_path(invoice.id)
          %td= "#{l(Time.at(invoice.date).to_datetime, :format => :short)}"
          %td= format_currency((invoice.amount - invoice.total_refund), invoice.currency)
